body{
  margin:0;
  font-family: League Spartan;
}

.viewport-box{
  height: 100vh;
  width:100vw;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/bg-pattern-top-desktop.svg") ,url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat,no-repeat;
  background-position: top left, bottom right;
}

.main{
  width:76%;
  background-color: transparent;
}

.header{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.footer{
  margin-top: 30px;
  display: flex;
  background-color: transparent;
  justify-content: space-between
}

/* Site description */
.description{
  background-color: hsl(0, 0%, 100%);
  background-color: transparent;
  width: 35%;
  min-width: 270px;
  display: flex;
  flex-direction: column;
}

.heading{
  font-size: 46px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  margin-bottom: 25px;
}

.heading-info{
  font-size: 16px;
  color:hsl(303, 10%, 53%);
  line-height: 1.3;
}

/* Rating-review Section */
.rating-box{
  width: 62%;
  background-color:transparent;
  display: flex;
  flex-wrap: wrap;
  min-width: 470px;
  justify-content: flex-end;
}

.rating-span-div{
  padding: 0 5px;
  margin-right: 5px;
}

.star-image{
  padding: 0 2px;
}

.star-image-div{
  margin: 0 20px;
}

.review{
  background-color: hsl(300, 24%, 96%);
  display: flex;
  padding: 10px;
  margin: 14px 0px;
  border-radius: 5px;
  font-weight:bold;
  color: hsl(300, 43%, 22%);
  align-items: center;
}

.review-first{
  margin-right: 110px;
}

.review-second{
  margin-right: 50px;
}

 /* User review */
.name-verification-div{
  display: flex;
 }

.user-comment{
  background-color: hsl(300, 43%, 22%);
  padding-top:20px;
  color:hsl(0, 0%, 100%);
  font-size: 15px;
  line-height: 1.3;
}

.user-images{
  border-radius: 100%;
  width: 35px;
 }

.user-image-div{
  margin-right: 12px;
}

.user-verification-status-div{
  padding: 0px 10px;
  font-size: 15px;
  color:hsl(333, 80%, 67%);
}

.card{
  background-color: hsl(300, 43%, 22%);
  border-radius: 5px;
  width: 85%;
  padding: 35px 25px;
  margin-left: 5px;
}

.user-name-div{
  color:hsl(0, 0%, 100%);
  font-weight:bold;
  padding: 5px 10px;
}

.user-cardfirst{
  margin-bottom: 40px;
}

.user-cardsecond{
  margin: 20px 0 20px 5px;
}

.user-cardthird{
  margin-top: 40px;
}

@media only screen and (max-width: 976px) {
.viewport-box{
  background: url("../images/bg-pattern-top-mobile.svg") ,url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat,no-repeat;
  background-position: top left, bottom right;
}
.description{
  width: 95%;
  min-width: 200px;
}

.viewport-box{
  height: 100%;
  width: 100%;
}

.review{
  margin: 15px;
  width: 100%;
  justify-content: center;
}

.header{
  margin-top: 50px;
  justify-content: center;
  min-width: 280px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.heading-info{
  text-align: center;
}

.heading{
  text-align: center;
}

.rating-box{
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  min-width: 200px
}

.footer{
  flex-direction: column;
  align-items: center;
}

.card{
  margin:10px;
  min-width: 230px;
}

.user-cardthird{
  margin-bottom: 50px;
}
}
@media only screen and (max-width: 560px) {
.review{
  flex-direction: column;
}

.star-image-div{
  margin-bottom: 10px;
}

.review{
  min-width: 290px;
}
}
